RT5.6/java/classes/postilion/realtime/sdk/xml/fleetdata/FleetData.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="FleetData">
		<xs:complexType>
			<xs:attribute name="OilBrandName"/> 
			<xs:attribute name="ServiceType"/> 
			<xs:attribute name="VehicleUsage"/> 
			<xs:attribute name="Odometer"/> 
			<xs:attribute name="VehicleReg"/> 
			<xs:attribute name="DriverId"/> 
			<xs:attribute name="PromptCode"/> 
			<xs:attribute name="RestrictionCode"/> 
			<xs:attribute name="PrivateData"/> 
		</xs:complexType>
	</xs:element>
</xs:schema>
